body{
    background-image: url("img11.jpg")
}


h2{
    text-align: center;
    font-weight: bolder;
    font-style:italic;
    font-size: 40px
}


#section1{
    border: 3px dotted red;
}

img{
    border: 2px solid blue;
    height: 300px;
    width: 100%;
}

.c1{
    color:red;
    text-decoration: underline;
}

#ucl{
    font-weight: bold;
    color: #54bbc4;
}

p {
    column-count: 3;
}

.c3{
    color: #e433d5;

}
