* {
    box-sizing: border-box; 
    font-size: 0;
}


.first{
    display:inline-block;
    
    height:25%;
    width:100%;
    background-color:#F5C6D6;
    border: 2px solid white;
}

 .darkpink{
    
    
    border: 2px solid white;
    background-color: #EE2E84;
}
/*************
.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
    background-color:red;
}

.after-box {
    border: 3px solid red; 
    background-color:green;
}


