* {
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
}

body{
    height: 100vh;
    position: relative;
}
.wrapper {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.box{
    height: 50px;
}

.col {
    height: 100%;
    display: inline-block;
    border: 3px solid white;
}

.pink {
    background-color:#f5c6d6;
    width: 100%;
}

.red {
    background-color: #ee2e84;
    width: 25%;
}

.skyblue {
    background-color:#85cfd8;
    width: 50%;
}

.green {
    background-color:#8dc63f;
    width: 75%;
}

.orange {
    background-color:#e76e34;
    width: 25%;
}


