* {
    box-sizing: border-box;
    font-size: 0;
}

.wrapper{
    height: 80vh;
    width: 100vw;
    padding:60px 60px;
    display:flex;
    flex-direction: column;
}

.box{
    display:flex;
    height:25%;
    width:100%;
}

.col{
    border:1px solid white;
    display:flex;
}

.pink{
    justify-content:center;
    flex-direction: column;
    width:100%;
    background-color:#F5C6D6;
}

.red{
    flex-direction:column;
    background-color:#EE2E84;
    width:25%;
}

.skyBlue{
    flex-direction:column;
    background-color:#85CFD8;
    width:50%;
}

.green{
    flex-direction: column;
    background-color: #8DC63F;
    width:75%;
}

.orange{
    flex-direction: column;
    background-color: #E76E34;
    width:25%;
}

@media screen and (max-width:768px){
    .pinkbox{
        display:flex;
        height:11.11%;
        width:100%;
    }
    
    .redbox{
        display:flex;
        height:44.44%;
        width:100%;
    }

    .skybluebox{
        display:flex;
        height:22.22%;
        width:100%;
    }

    .mixbox{
        display:flex;
        height:22.22%;
        width:100%;
    }
 
    .box{
        display:flex;
        flex-direction: column;
    }   
     
    .pink{
        display:flex;
        background-color:#F5C6D6;
        flex-grow: 1;
        width:100%;
        height:100%;
        
    }

    .red{
        display:flex;
        background-color:#EE2E84;
        flex-grow: 1;
        width:100%;
        height:25%;
        
    }
    
    .skyBlue{
        display:flex;
        background-color:#85CFD8;
        flex-grow: 1;
        width:100%;
        height:50%;   
    }
    .green{
        display:flex;
        background-color:#8DC63F;
        flex-grow: 1;
        width:100%;
        height:50%;   
    }
    .orange{
        display:flex;
        background-color:#E76E34;
        flex-grow: 1;
        width:100%;
        height:50%;   
    }

} 