* {
    margin: 0;
    box-sizing: border-box;
    
}

.wrapper{
    position:relative;
    height:400px;
    width:700px;
    border:1px solid black;
    top:100px;
    
}

.col{
    position: absolute;
    height:33.33%;
    width:100%;
}

.black{
    background-color:black;
}

.red{
    background-color:red;
    top:33.33%;
}

.yellow{
    background-color:yellow;
    bottom:0%
}

