* {
    margin: 0;
    box-sizing: border-box;
    
}

.wrapper{
    position:relative;
    height:400px;
    width:700px;
    border:1px solid black;
    top:100px;
}

.red {
    position:absolute;
	width: 240px;
	height: 240px;
	background: red;
    border-radius: 120px;
    top: 18%;
    left:30%;
}


			